<form class="dialog-container" [formGroup]="taskForm">
  <h2 mat-dialog-title>
    {{
      isNewTask
        ? ("taskDialog.newTask" | translate)
        : ("taskDialog.newTask" | translate)
    }}
  </h2>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>{{ "taskDialog.title" | translate }}</mat-label>
    <input
      matInput
      cdkFocusInitial
      autocomplete="off"
      formControlName="title"
    />
    <mat-hint align="start">{{ "taskDialog.hint" | translate }}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="textarea">
    <mat-label>{{ "taskDialog.description" | translate }}</mat-label>
    <textarea
      matInput
      formControlName="description"
      class="textarea-input"
    ></textarea>
    <mat-hint align="start">{{ "taskDialog.hint" | translate }}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>{{ "taskDialog.assignee" | translate }}</mat-label>
    <mat-select
      formControlName="userId"
      (selectionChange)="onUserSelect($event)"
    >
      <mat-select-trigger>
        <div class="selected-item-container">
          <mat-icon
            [style]="'color: #' + selectedUser.id.slice(0, 6)"
            class="selected-item-icon"
          >
            account_circle
          </mat-icon>
          <span>
            {{ selectedUser.name }}
          </span>
        </div>
      </mat-select-trigger>
      <mat-option *ngFor="let user of users$ | async" [value]="user.id">
        <mat-icon [style]="'color: #' + user.id.slice(0, 6)">
          account_circle
        </mat-icon>
        {{ user.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="null" color="primary">
      {{ "taskDialog.cancel" | translate }}
    </button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="taskForm.invalid"
      [mat-dialog-close]="taskForm.value"
    >
      {{
        isNewTask
          ? ("taskDialog.create" | translate)
          : ("taskDialog.update" | translate)
      }}
    </button>
  </div>
</form>
