.edit-user {
  min-height: calc(100vh - 10rem - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-user-container {
  width: 310px;
  height: 24rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgb(168, 166, 177);

  mat-form-field {
    width: 16rem;
    line-height: 1.2;
  }

  mat-progress-bar {
    margin: 0.5rem;
  }
}

h1 {
  font-size: 18px;
  font-weight: 600;
}

.edit-user-container_btn {
  display: flex;
  justify-content: space-between;
}

.form-button {
  width: 8rem;
  height: 2rem;
  margin-top: 25px;
  background-color: #d7d7d7;
  color: #ffffff;
  cursor: pointer;
}
