<div class="edit-user">
  <div class="edit-user-container">
    <form [formGroup]="editForm">
      <h1>{{ "editUser.user" | translate }}</h1>
      <mat-form-field appearance="fill">
        <mat-label>{{ "editUser.name" | translate }}</mat-label>
        <input matInput type="name" formControlName="name" />
        <mat-error
          *ngIf="
            editForm.get('name')?.invalid &&
            (editForm.get('name')?.touched || editForm.get('name')?.dirty)
          "
        >
          <span *ngIf="editForm.get('name')?.hasError('required')">
            Please enter a name
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ "editUser.login" | translate }}</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error
          *ngIf="
            editForm.get('email')?.invalid &&
            (editForm.get('email')?.touched || editForm.get('email')?.dirty)
          "
        >
          <span *ngIf="editForm.get('email')?.hasError('required')">
            Please enter a login email
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ "editUser.newPassword" | translate }}</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error
          *ngIf="
            editForm.get('password')?.invalid &&
            (editForm.get('password')?.touched ||
              editForm.get('password')?.dirty)
          "
        >
          <div *ngIf="editForm.get('password')?.hasError('required')">
            Please enter a password
          </div>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{ "editUser.repeatPassword" | translate }}</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error
          *ngIf="
            editForm.get('password')?.invalid &&
            (editForm.get('password')?.touched ||
              editForm.get('password')?.dirty)
          "
        >
          <div *ngIf="editForm.get('password')?.hasError('required')">
            Please enter password again
          </div>
        </mat-error>
      </mat-form-field>
      <div class="edit-user-container_btn">
        <button mat-button>
          {{ "editUser.deleteUser" | translate }}
        </button>
        <button mat-button type="submit" [disabled]="editForm.invalid">
          {{ "editUser.submit" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
