:host {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  box-sizing: border-box;
}

mat-card {
  display: flex;
  flex-direction: column;
  padding: 36px;

  mat-card-header {
    margin-bottom: 24px;
  }

  mat-card-title {
    font-weight: 500;
    font-size: 20px;
  }

  mat-form-field {
    width: 100%;
    font-size: 16px;
    padding: 0 10px;

    mat-label {
      font-size: 16px;
      color: #333333;
    }

    input {
      width: 100%;
      background-color: transparent;
    }

    mat-icon {
      color: #6c6f80;
      cursor: pointer;
    }
  }

  mat-card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
