:host {
  display: block;
  margin-bottom: 20px;
}

.header {
  height: 5rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: #ffffff;
}

.header-container {
  height: 5rem;
  display: flex;
  margin: 0 10rem;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
}
.header-container_link {
  display: flex;
  align-items: center;

  a {
    margin: 0 10px;
    text-decoration: none;
    user-select: none;
  }

  a:hover {
    color: #2b3b92;
  }

  .active {
    color: #2b3b92;
    text-decoration: underline solid #2b3b92 3px;
    text-underline-offset: 2rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
  }
}

.header-container_btn {
  color: #b15f5f;
}

.header_icon {
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #ef476f;
  color: #d9d9d9;
  cursor: pointer;
}

.header-switcher {
  display: flex;
  color: #2b3b92;
  margin-left: auto;
  align-items: center;

  span {
    padding: 0 0.5rem;
    font-size: 16px;
  }
}

.header-login {
  height: 1.5rem;
  margin-left: 3rem;
  display: flex;
  gap: 1rem;

  .header-login_title {
    font-weight: 500;
  }
}
