<mat-card class="home">
  <mat-card-header>
    <mat-card-title class="home__title">
      {{ "homePage.title" | translate }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="home__content">
    <p>{{ "homePage.description" | translate }}</p>

    <section class="team">
      <h2 class="team__title">{{ "homePage.sectionTitle" | translate }}</h2>
      <ul class="team__list">
        <li class="team__member">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ "homePage.konstantin" | translate }}</mat-card-title>
              <mat-card-subtitle>{{ "homePage.teamLead" | translate }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <ul class="contribution__list">
                <li class="contribution__item">{{ "homePage.setup" | translate }}</li>
                <li class="contribution__item">{{ "homePage.deploy" | translate }}</li>
                <li class="contribution__item">{{ "homePage.ngrx" | translate }}</li>
                <li class="contribution__item">{{ "homePage.errors" | translate }}</li>
                <li class="contribution__item">{{ "homePage.projects" | translate }}</li>
                <li class="contribution__item">{{ "homePage.board" | translate }}</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </li>

        <li class="team__member">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ "homePage.alena" | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ul class="contribution__list">
                <li class="contribution__item">{{ "homePage.login" | translate }}</li>
                <li class="contribution__item">{{ "homePage.signUp" | translate }}</li>
                <li class="contribution__item">{{ "homePage.welcome" | translate }}</li>
                <li class="contribution__item">{{ "homePage.confirm" | translate }}</li>
                <li class="contribution__item">{{ "homePage.i18n" | translate }}</li>
              </ul>
            </mat-card-content>
          </mat-card>
        </li>

        <li class="team__member">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ "homePage.alesya" | translate }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <ul class="contribution__list">
                  <li class="contribution__item">{{ "homePage.header" | translate }}</li>
                  <li class="contribution__item">{{ "homePage.footer" | translate }}</li>
                  <li class="contribution__item">{{ "homePage.edit" | translate }}</li>
                  <li class="contribution__item">{{ "homePage.notFound" | translate }}</li>
                  <li class="contribution__item">{{ "homePage.adaptive" | translate }}</li>
                  <li class="contribution__item">{{ "homePage.i18n" | translate }}</li>
                </ul>
              </mat-card-content>
          </mat-card>
        </li>
      </ul>
    </section>
  </mat-card-content>
</mat-card>
