<mat-card class="task">
  <mat-card-content>
    <h3>{{ task.title }}</h3>
    <p>{{ task.description }}</p>
    <p>Responsible</p>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-icon-button color="primary" (click)="onTaskEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      (click)="onTaskDelete('b.id', 'column.id', 'task.id')"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
