<button type="button" (click)="onCreateNewBoard()">New Board</button>

<ul>
  <li>Num - Title - Description</li>
  <li *ngFor="let board of boards$ | async; index as i">
    {{ i + 1 }} / {{ board.title }} / {{ board.description }} /
    <button type="button" (click)="onOpenBoard(board.id)">open</button>
    <button type="button" (click)="onDeleteBoard(board.id)">del</button>
  </li>
</ul>

<mat-progress-bar *ngIf="isLoading$ | async" mode="query"></mat-progress-bar>

<div>
  Err:
  {{ error$ | async }}
</div>
<button type="button" (click)="onError()">ok</button>
