:host {
  position: relative;
}

.spinner-container {
  background-color: #00000020;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.projects-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  min-height: calc(100vh - 10rem - 40px);
  padding: 20px 30px;
  border-radius: 10px;
  overflow: hidden;
}

.custom-spinner {
  margin-top: 200px;
}

.list {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1000px;
}

.list-header {
  background-color: #f4f7f9;
  border-radius: 4px;
}

.list-line:hover {
  background-color: #fefbfa;
}

.header-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.header-text {
  margin: 0;
  display: flex;
  padding: 0 16px;
  justify-content: center;
  align-items: center;
}
