<footer class="footer">
  <div class="footer-container">
    <div>
      <a href="https://rs.school/js/">
        <img
          class="footer__rs-logo footer__link"
          src="../../../../assets/images/RSS-logo.svg"
          alt="RSS-logo"
        />
      </a>
    </div>
    <div class="footer__list">
      <a
        class="footer__list-item footer__link"
        href="https://github.com/aldrachova"
      >
        Alena
      </a>
      <a
        class="footer__list-item footer__link"
        href="https://github.com/alesyaz"
      >
        Alesya
      </a>
      <a
        class="footer__list-item footer__link"
        href="https://github.com/khoncharov"
      >
        Konstantin
      </a>
    </div>
    <div>
      <p class="footer-year">2022</p>
    </div>
  </div>
</footer>
