<mat-card class="column">
  <mat-card-content>
    <div class="column-header">
      <h3 class="column-header-text">{{ column.title }}</h3>
      <button mat-icon-button color="primary" (click)="onColumnEdit(column)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="tasks-container">
      <div
        class="tasks"
        cdkDropList
        (cdkDropListDropped)="onTaskDrop($event)"
        [cdkDropListData]="column.id"
      >
        <app-task
          [boardId]="board.id"
          [columnId]="column.id"
          *ngFor="let task of column.tasks | tasksInOrder"
          [task]="task"
          cdkDrag
          [id]="task.id"
        ></app-task>
      </div>

      <div class="task-controls">
        <button
          mat-icon-button
          color="primary"
          (click)="onTaskAdd(board.id, column.id)"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
